 <!-- Template to add users to web application. -->
<html>
  <head>
    <title>Twitter Application</title>
    <style>
      .list {
        list-style-type: none;
        display: inline;
      }
      .list li {
        margin-left: 15px;
        margin-right: 15px;
        padding: 5px;
        background: #f4f4f4;
        border: solid 1px #333;
        display: inline;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Product App Demo</a>
            <ul class="nav navbar-nav">
              <li><a href="./products">Products</a></li>
            </ul>
        </div>
    </div>
    <div id="main" class="container">
    <ul data-bind="foreach: product_list" class="list">
      <li>
        <img data-bind="attr: {src:image}" style="width: 200px;" />
        <br />
        	<strong>Item: </strong><p data-bind="text: name"></p>
          <strong>Category: </strong><p data-bind="text: category"></p>
          <strong>Description: </strong><p data-bind="text: description"></p>
          <strong>RRP: </strong><p data-bind="text: rrp"></p>
          <strong>Weight: </strong><p data-bind="text: weight"></p>
          <strong>Rating: </strong><p data-bind="text: rating"></p>
          <a data-bind="attr: { href:reviewLink }">Write A Review</a>
          <br />
          <a data-bind="attr: { href:reviewLink }">View Reviews</a>
      </li>
    </ul>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script> -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='products.js') }}"></script>
    <script>

    </script>
  </body>
</html>
